<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>{{request.session.user_name}}</title>
    
</head>
<body>
    <p><a href="{% url 'user:logout' %}">Logout</a></p>
    <h1>Hello {{request.session.user_name}}!</h1>
    <h2>Your Wish List</h2>

    {% for wish in wishes %}

        <h3><a href="{% url 'home:item' item_id=wish.wish.id %}">
        {{wish.wish.title}}</a>

         By: {{wish.wish.user.name}} added on {{wish.created_at}} 
         {% if request.session.user_id == wish.wish.user.id %}
         <a href="{% url 'home:delete' item_id=wish.wish_id %}"> Delete </a>
         {% else %}
         <a href="{% url 'home:unwish' wish_id=wish.wish_id %}"> Remove from my Wish List </a>
         {% endif %}
         
    {% endfor %}
    </h3>
    <hr><hr>
    <h2>Others Wish Lists</h2>

    {% for item in items %}
    <h3><a href="{% url 'home:item' item_id=item.id %}">{{item.title}}</a> Added by: {{item.user.name}} {{item.created_at}} <a href="{% url 'home:wish' wish_id=item.id %}">add to wishlist</a></h3>
    {% endfor %}
    <hr><hr>
    <a href="{% url 'home:add' %}">Add</a>
</body>
</html>